header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2rem;
}

#logo {
  font-size: 2rem;
}

ul {
  display: flex;
  gap: 5rem;
}

a {
  text-transform: capitalize;
  color: gray;
}

a:hover {
  color: black;
}
