<main class="container">
  <article id="highlight">
    <a [routerLink]="['/post', highlightedPost.id]">
      <img src="{{ highlightedPost.coverUrl }}" />
      <h2>{{ highlightedPost.title }}</h2>
      <p>
        {{ highlightedPost.content }}
      </p>
    </a>
  </article>

  <div id="posts">
    <article class="post" *ngFor="let post of secondaryPosts">
      <a [routerLink]="['/post', post.id]">
        <img src="{{ post.coverUrl }}" />

        <h2>{{ post.title }}</h2>
      </a>
    </article>
  </div>
</main>
